{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Program</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Address1</th>
                <td>{{ entity.address1 }}</td>
            </tr>
            <tr>
                <th>Address2</th>
                <td>{{ entity.address2 }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ entity.zip }}</td>
            </tr>
            <tr>
                <th>Type_id</th>
                <td>{{ entity.typeid }}</td>
            </tr>
            <tr>
                <th>Package_id</th>
                <td>{{ entity.packageid }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ entity.notes }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('program') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('program_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('program_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
